* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
}




.container {
    width: 100%;              /* Ikut layar HP */
    max-width: 390px;         /* Ukuran HP umum */
    margin: 0 auto;           /* Tengah */
    padding: 40px 20px;

    border-radius: 12px;
    text-align: center;

    background-image: url('bali.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}




.logo {
    width: 130px;              /* ukuran logo */
    height: 120px;             /* WAJIB sama dengan width */
    border-radius: 50%;       /* bikin bulat */
    object-fit: cover;        /* potong rapi */
    padding: 5px;             /* opsional */
}


.subtitle {
    margin-top: 0px;
    margin-bottom: 1px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 1.1;
}

h1 {
    margin: 0;
    font-size: 26px;
    line-height: 1.3;
    font-family: 'Poppins', sans-serif;
    font-family: 'El Messiri', sans-serif;
    font-weight: 1000;

}

.subtext {
    margin-top: 1px;
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 1;
}

.link {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;

    font-size: 15px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;

}


.link:hover {
    transform: scale(1.02);
    opacity: 0.9;
}

.whatsapp {
    background: #00514e;
}

.instagram {
    background: #00514e;
}

.TikTok{
    background: #00514e;
}

.admin {
    background: #00514e;
}

.kritik {
    background: #00514e;
}

footer {
    margin-top: 40px;
    font-size: 12px;
    color: #9ca3af;
}



